
<div class="row">
      <div *ngIf="error.length > 0" class="alert alert-danger" role="alert">
        {{ error }} <a href="#" class="alert-link" (click)="limpiarError()">Cerrar</a>
      </div>
    <div
        class="col-md-5 col-sm-7"
        *ngFor="let contacto of resultados">
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="contacto.nombre">
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="contacto.apellidos">
                    </li>
                    <li class="list-group-item">
                        <input type="text" class="form-control" placeholder="Telefono" [(ngModel)]="contacto.telefono">
                    </li>
                    <li class="list-group-item">
                        <input type="text" class="form-control" placeholder="Email" [(ngModel)]="contacto.email">
                    </li>
                    <li class="list-group-item">
                        <div class="input-group">
                            <button
                                class="btn btn-outline-secondary col"
                                type="button"
                                (click)="actualizar(contacto)">
                                    Actualizar
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <div class="card-body">
        <div class="card">
            <div class="card-header">
                <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="nuevoContacto.nombre">
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="nuevoContacto.apellidos">
                </li>
                <li class="list-group-item">
                    <input type="text" class="form-control" placeholder="Telefono" [(ngModel)]="nuevoContacto.telefono">
                </li>
                <li class="list-group-item">
                    <input type="text" class="form-control" placeholder="Email" [(ngModel)]="nuevoContacto.email">
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <button
                            class="btn btn-outline-secondary col"
                            type="button"
                            (click)="insertar()">
                                Insertar
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>